{% extends "base.html" %}

{% block title %} About Us {% endblock title %}

{% block body %} 
<!-- <img class = " container-fluid" src="/static/img/1.png" class="d-block w-100" alt="..." width="0px" height="500px"> -->
<div style="background-color: wheat">
<h1 class = "text-center" style="color:black; padding-top: 30px;"><b> Query Search Screen</b></h1>
<div class="mb-3" style="padding-left: 400px; padding-right: 400px; margin-top: 100px;">
    <label for="Check-Out" class="form-label"><b>Query on Date</b></label>
    <input type="date" class="form-control" id="Check-Out" name="Check-Out" placeholder="Enter Your Check-Out Date Here">
  </div>
<button style="flex: content; padding-left: 40px; padding-right: 40px ;margin-left: 600px; margin-top: 20px; margin-bottom: 40px;" type="submit" class="btn btn-primary">Query</button>
<div class="mb-3" style="padding-left: 400px; padding-right: 400px; margin-bottom: 100px;">
    <label for="Contact_Number" class="form-label"><b>Query on Cnic Number</b></label>
    <input type="number" class="form-control" id="Contact_Number" name="Contact_Number" placeholder="Enter Your Contact Number Here">
  </div>
  <button style="flex: content; padding-left: 40px; padding-right: 40px ;margin-left: 600px; margin-top: 20px; margin-bottom: 95px;" type="submit" class="btn btn-primary">Query</button>
</div>
{% endblock body %}