{% extends "base.html" %} -->

{% block title %} Contact {% endblock title %}

{% block body %} 
<!-- <img class = " container-fluid" src="/static/img/1.png" class="d-block w-100" alt="..." width="0px" height="500px"> -->
<div style="background-color: wheat">
<h1 class = "text-center" style="color:black; padding-top: 30px;"><b> Contact Form</b></h1>
<div class = "container"  style="padding: 4px" >
<form method="post" action="/contact">
  {% csrf_token %}
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px; padding-top: 20px;">
    <label for="Name" class="form-label"><b>Visitor Name</b></label>
    <input type="text" class="form-control" id="Name" name="Name" aria-describedby="emailHelp" placeholder="Enter Your Name Here">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Address" class="form-label"><b>Address</b></label>
    <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Your Address Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Organization" class="form-label"><b>Name of Organization</b></label>
    <input type="text" class="form-control" id="Organization" name="Organization" placeholder="Enter Your Name of \Organization Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Contact_Number" class="form-label"><b>Contact Number</b></label>
    <input type="number" class="form-control" id="Contact_Number" name="Contact_Number" placeholder="Enter Your Contact Number Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Check-In" class="form-label"><b>Check-In Date and Time</b></label>
    <input type="datetime-local" class="form-control" id="Check-In" name="Check-In" placeholder="Enter Your Check-In Date Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Check-Out" class="form-label"><b>Check-Out Date and Time</b></label>
    <input type="datetime-local" class="form-control" id="Check-Out" name="Check-Out" placeholder="Enter Your Check-Out Date Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Contact_Person" class="form-label"><b>Contact Person</b></label>
    <input type="text" class="form-control" id="Contact_Person" name="Contact_Person" placeholder="Enter Your Contact Person Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Purpose" class="form-label"><b>Purpose of Visit</b></label>
    <input type="text" class="form-control" id="Purpose" name="Purpose" placeholder="Enter Your Purpose of Visit Here">
  </div>
  <div class="mb-3" style="padding-left: 250px; padding-right: 200px;">
    <label for="Picture" class="form-label"><b>Picture</b></label>
    <input type="file"  class="form-control" name="file" accept="image/*" aria-label="File browser example"
            style="padding: 30px;
            content: 'Select some files';
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;"  
            id="imgInp">
                   <img id="blah" src="../static/img/3.jpg" alt="your image" style="width: 200px; height: 200px; padding: 15px;" />
            <script>
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
              }
            }

            $("#imgInp").change(function(){
            readURL(this);
            });
        </script>
  </div>
  <button style="flex: content; margin-left: 250px;" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% endblock body %}